@use 'variaveis';

.ofertas {
    .title {
        h2 {
            
        }
    }

    &__tabs {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 3%;
        
        &__item {
            border: 1px solid #000;
            img {
                max-width: 100%;
            }

            button {
                padding: 1rem;
                border: none;
                font-weight: bold;
                background-color: #03C30A;
                color: #fff;
            }
        }
    }
}