* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Jost;
    list-style: none;
}

.container {
    margin: 0 5rem;
}

.container .header {
    display: flex;
    flex-direction: column;
}

.container .header .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 3rem;
    background-color: #000;
    color: #fff;
}

.container .header .first a {
    font-size: .9rem;
    font-weight: bolder;
    margin: 1rem;
    text-decoration: none;
    color: #fff;
    margin: 2rem;
}

.container .header ul li {
    display: inline;
}

.container .header .second {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .second h1 {
    margin: 1rem;
}

.container .second .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
}

.container .second .search input {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
    margin-right: .5rem;
    width: 65vw;
    height: 2.5rem;
    font-size: .9rem;
}

.container .second .search input::placeholder {
    color: #000;
}

.container .second .search .btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2px;
    height: 2.5rem;
    width: 3rem;
    background-color: #FFA600;
}

.container .second .search .btn-search img {
    height: 1rem;
    width: 1rem;
}

@media (max-width: 767px) {
    .container .header .first {
        display: none;
    }

    .container .second {
        flex-direction: column;
    }
}

.hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    height: 14rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.hero .container .first-msg {
    font-family: "Montserrat", Jost;
    text-align: center;
    margin: 0 2rem;
    color: #333;
}

.hero .container h3 {
    font-weight: 900;
    font-size: 1.8rem;
}

.hero .container h3 span {
    color: #FFA600;
}

.hero .container .second-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.hero .container h4 {
    font-size: 1.1rem;
}

.hero .container img {
    display: block;
    height: 15.7rem;
    z-index: 1;
    transition: transform 0.3s ease;
}

.hero .container img:hover {
    /* animation: bounce 2s ease alternate; */
    animation: pular 1s ease;
}

@keyframes pular {
    0% {
        transform: translateY(0); /* Posição original */
    }
    5% {
        transform: translateY(.2rem); /* Pular para cima */
    }
    10% {
        transform: translateY(.4rem); /* Pular para cima */
    }
    15% {
        transform: translateY(.2rem); /* Pular para cima */
    }
    20% {
        transform: translateY(0); /* Voltar à posição original */
    }
    25% {
        transform: translateY(-0.15rem); /* Voltar à posição original */
    }
    30% {
        transform: translateY(-0.3rem); /* Pular para cima */
    }
    35% {
        transform: translateY(-0.15rem); /* Pular para cima */
    }
    40% {
        transform: translateY(0); /* Voltar à posição original */
    }
    45% {
        transform: translateY(.1rem); /* Voltar à posição original */
    }
    50% {
        transform: translateY(.2rem); /* Pular para cima */
    }
    55% {
        transform: translateY(.1rem); /* Pular para cima */
    }
    60% {
        transform: translateY(0); /* Voltar à posição original */
    }
    65% {
        transform: translateY(-0.05rem); /* Voltar à posição original */
    }
    70% {
        transform: translateY(-0.1rem); /* Pular para cima */
    }
    75% {
        transform: translateY(-0.05rem); /* Pular para cima */
    }
    80% {
        transform: translateY(0); /* Voltar à posição original */
    }
    85% {
        transform: translateY(.02rem); /* Voltar à posição original */
    }
    90% {
        transform: translateY(.05rem); /* Pular para cima */
    }
    95% {
        transform: translateY(.02rem); /* Pular para cima */
    }
    100% {
        transform: translateY(0); /* Voltar à posição original */
    }
}

.hero .container a {
    padding: 1.5rem;
    margin-left: -1.1rem;
    border-radius: 8px;
    background-color: rgba(255, 166, 0, 9);
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}